* {
  font-family: 'Helvetica', sans-serif;
  font-size: medium;
}

div[class=log]{
  width: 300px;
  float: left;
}
div[class=socialMedia] {
    float: right;
    height: 30px;
    margin-top: 37px;
    padding-right: 0px;
    width: 250px;
}

.socialMedia img {
  border: 2px solid white;
  float: left;
}

.first_soc {
  margin-left: 14px;
  display: inline-block;
}

.second_soc {
  display: inline-block;
  margin-right: 0px;
}

#logo {
  float: left;
  margin-top: 27px;
  margin-right: 10px;
}

#logoText {
  display: inline;
  height: 40px
}

#logoText h1 {
  margin-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 230%;
  display: inline-block;
}

#logoText h5 {
  margin-top: -10px;
  font-size: x-small;
  color: grey;
}

header {
  max-height: 80px;
  max-width: 900px;
  margin: : 0 auto;
}


/*Matching up the image to be almost pixel perfect*/
/*body {
    background-image: url("../images/PREVIEW.jpg");
}*/

main, header, footer {
  margin-left: 162px;
  margin-right: 100px;
  max-width: 900px;
}

.row * {
  max-width: 100%;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.pizza {
  max-width: 100%;
  display: block;
}

.blank {
  position: relative;
  background-image: url("../images/list-bg.png");
  background-clip: border-box;
  border-style: outset;
}

.pgraphs p {
  color: grey;
}

.paper {
  margin: 1em;
}

.lists {
  display: inline;
  margin: 0 auto;
}

.list_text {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 4em 0 2em;
}

.list_text * {
  font-family: 'Handlee', cursive;
  color: #675D41 ;
  font-size: large;
}

.blurb {
  display: inline;
  margin-left: 2em;
}

hr.lastSeparator {
  margin-top: 40px;
}
hr.lastSeparator::after {
  content: url(../images/small-logo.png);
  /* Controls the position of the logo */
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* Controls the whitespace around the symbol */
  padding: 20px;
  background: #fff;
}

  hr.thickSeparator {
  clear: both;
   height: 10px;
   /*background pattern generated http://enjoycss.com/code/*/
   background: linear-gradient(-45deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 75%, rgb(140,140,140) 75%, rgb(140,140,140) 100%), linear-gradient(45deg, rgb(140,140,140) 0, rgb(140,140,140) 25%, rgba(140,140,140,0) 25%, rgba(255,255,255,0) 100%), linear-gradient(-45deg, rgb(140,140,140) 0, rgb(140,140,140) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%), linear-gradient(45deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 75%, rgb(140,140,140) 75%, rgb(140,140,140) 100%), rgb(255, 255, 255);
   background-size: 2.3px 2.3px;
 }
 ul {
   list-style-type:none;
 }

 .redButton {
   background-color: #BA7158;
   color: white;
   width: 100px;
   height: 50px;
   display: inline-block;
   float: right;
 }

 .strike {
   text-decoration: line-through;
 }

 p.copyright {
   margin-top: 40px;
   text-align: center;
   color: #acb0b7;
 }

.print{
  margin-left: 50em
}
