* {
  font-family: 'Helvetica', sans-serif;
  font-size: medium;
}

div[class=log]{
  width: 300px;
  float: left;
}
div[class=socialMedia] {
    float: right;
    height: 30px;
    margin-top: 37px;
    padding-right: 0px;
    width: 250px;
}

.socialMedia img {
  border: 2px solid white;
  float: left;
}

.first_soc {
  margin-left: 14px;
  display: inline-block;
}

.second_soc {
  display: inline-block;
  margin-right: 0px;
}

#logo {
  float: left;
  margin-top: 27px;
  margin-right: 10px;
}

#logoText {
  display: inline;
  height: 40px
}

#logoText h1 {
  margin-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 230%;
  display: inline-block;
}

#logoText h5 {
  margin-top: -10px;
  font-size: x-small;
  color: grey;
}

header {
  max-height: 80px;
  max-width: 900px;
  margin: : 0 auto;
}

/*Matching up the image to be almost pixel perfect*/
body {
    background-image: url("../images/PREVIEW.jpg");
}

main, header, footer {
  margin-left: 162px;
  margin-right: 100px;
  max-width: 900px;
}

section {
  height: 172px;
  max-height: 172px;
  margin-left: 0px;
}

.row * {
  max-width: 100%;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.pizza {
  max-width: 100%;
  display: block;
}

.blank {
  width: 900px;
  height: 305px;
  position: relative;
  background-image: url("../images/list-bg.png");
  background-clip: border-box;
  margin-bottom: 2em;
  margin-top: 1em;
}

.pgraphs p {
  color: grey;
  font-size: large;
  line-height: 160%;
  text-indent: 30px;
}

.paper {
  margin: 1em;
}

.lists {
  display: inline;
  margin-top: 0;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.list_text {
  display: inline-block;
  box-sizing: border-box;
  max-width: 48%;
  max-height: 99%;
  margin: -2em 4em 0em 2em;
}

.list_text * {
  font-family: 'Handlee', cursive;
  color: #675D41 ;
  font-size: x-large;
}

.blurb {
  display: inline-block;
  font-size: small;
  color:gray;
  margin-top: -30px;
}
section {
  position: relative;
}

section div h1 {
  font-size: 250%;
  display: inline;
  margin-bottom: -20px;
}
section div {
  max-height: 100%;
  width: 350px;
  height: 70px;
  margin-bottom: 0px;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.print{
  float: left;
  margin-left: 50em;
  font-size: x-small;
  color: grey;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

hr.lastSeparator {
  margin-top: 40px;
}
hr.lastSeparator::after {
  content: url(../images/small-logo.png);
  /* Controls the position of the logo */
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* Controls the whitespace around the symbol */
  padding: 20px;
  background: #fff;
}

  hr.thickSeparator {
  clear: both;
   height: 10px;
   /*https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-linear-gradient*/
   background-color: gray;
   background-image: repeating-linear-gradient(45deg, transparent, transparent .5px, rgba(255,255,255,1) 3px, rgba(128,128,128,1) 2px);
   opacity: .8;
 }

 ul {
   list-style-type:none;
 }

 .redButton {
   background-color: #BA7158;
   color: white;
   width: 100px;
   height: 50px;
   display: inline-block;
   float: right;
 }

 .strike {
   text-decoration: line-through;
 }

 p.copyright {
   margin-top: 40px;
   text-align: center;
   color: #acb0b7;
 }
